In [3]:
import pandas as pd
import os

# Define the path to the resource folder where the CSV files are located
resource_folder = 'Resources'

# Initialize an empty list to store the DataFrames from each year
dataframes = []

# Create a list of file names for each year
years = range(2013, 2024)
csv_files = [f'videos_{year}.csv' for year in years]

# Read each CSV file and append the DataFrame to the list
for csv_file in csv_files:
    # Construct the full file path
    file_path = os.path.join(resource_folder, csv_file)
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    # Append the DataFrame to the list
    dataframes.append(df)
    print(f'Read data from {csv_file}')

# Concatenate all DataFrames into one DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Export the combined DataFrame to a single CSV file
output_file_path = 'combined_videos.csv'
combined_df.to_csv(output_file_path, index=False)
print(f'Combined data exported to {output_file_path}')

Read data from videos_2013.csv
Read data from videos_2014.csv
Read data from videos_2015.csv
Read data from videos_2016.csv
Read data from videos_2017.csv
Read data from videos_2018.csv
Read data from videos_2019.csv
Read data from videos_2020.csv
Read data from videos_2021.csv
Read data from videos_2022.csv
Read data from videos_2023.csv
Combined data exported to combined_videos.csv

In [23]:
combined_df.head()
combined_df.count()

id              1485
published_at    1485
length          1485
views           1485
dtype: int64

In [19]:
rows_with_na = combined_df[combined_df['views'].isna()]

# Print the rows with 'N/A' or empty values in the 'views' column
print(rows_with_na)

Empty DataFrame
Columns: [id, published_at, length, views]
Index: []

In [27]:
# Filter the DataFrame to keep rows where the 'length' column is not equal to 'P0D'
cleaned_df = combined_df[combined_df['length'] != 'P0D']

rows_with_na = combined_df[combined_df['length'].isna()]

# Print the cleaned DataFrame (optional)
print(cleaned_df)

               id          published_at   length       views length_minutes
0     pjAJswDB14s  2013-11-08T20:03:07Z   PT1M3S    145004.0              1
1     qMkYlIA7mgw  2013-06-05T21:35:43Z  PT4M42S  26994739.0              4
2     T8WpJlaZNZI  2013-11-08T20:12:12Z   PT1M4S     34840.0              1
3     KfWNOnns1FM  2013-10-10T08:29:45Z  PT4M18S      1814.0              4
4     81pvnaj3EI4  2013-11-08T20:15:38Z    PT36S     34449.0            NaN
...           ...                   ...      ...         ...            ...
2441  f2LFo3t8rGQ  2023-06-05T17:26:47Z    PT29S     30920.0            NaN
2443  j8v2xQfF2BQ  2023-12-18T06:35:00Z     PT6S      5716.0            NaN
2444  iCog3FfNGI4  2023-06-06T13:35:00Z    PT10S     19399.0            NaN
2445  UEC2Q8oTDDA  2023-10-22T09:05:00Z     PT7S     13747.0            NaN
2446  1G3c0j4UnLc  2023-05-23T00:42:23Z    PT27S     41675.0            NaN

[1381 rows x 5 columns]

In [29]:
output_file_path = 'cleaned_videos.csv'
cleaned_df.to_csv(output_file_path, index=False)
print(f'Cleaned data exported to {output_file_path}')

Cleaned data exported to cleaned_videos.csv

In [32]:
# Use a regular expression to extract minutes and seconds from the 'length' column
combined_df[['length_minutes', 'length_seconds']] = combined_df['length'].str.extract(r'PT(?:(\d+)M)?(?:(\d+)S)?')

# Convert the extracted values to numeric (floats)
combined_df['length_minutes'] = pd.to_numeric(combined_df['length_minutes'], errors='coerce').fillna(0)
combined_df['length_seconds'] = pd.to_numeric(combined_df['length_seconds'], errors='coerce').fillna(0)

# Calculate the total length in seconds
combined_df['length_seconds_total'] = (combined_df['length_minutes'] * 60) + combined_df['length_seconds']

# Print the first few rows to verify the changes
print(combined_df.head())

            id          published_at   length       views  length_minutes  \
0  pjAJswDB14s  2013-11-08T20:03:07Z   PT1M3S    145004.0             1.0
1  qMkYlIA7mgw  2013-06-05T21:35:43Z  PT4M42S  26994739.0             4.0
2  T8WpJlaZNZI  2013-11-08T20:12:12Z   PT1M4S     34840.0             1.0
3  KfWNOnns1FM  2013-10-10T08:29:45Z  PT4M18S      1814.0             4.0
4  81pvnaj3EI4  2013-11-08T20:15:38Z    PT36S     34449.0             0.0

   length_seconds  length_seconds_total
0             3.0                  63.0
1            42.0                 282.0
2             4.0                  64.0
3            18.0                 258.0
4            36.0                  36.0

In [33]:
# Convert the 'published_at' column to datetime data type
combined_df['published_at'] = pd.to_datetime(combined_df['published_at'])

# Extract the year from the 'published_at' column
combined_df['year'] = combined_df['published_at'].dt.year

# Print the first few rows to verify the changes
print(combined_df.head())

            id              published_at   length       views  length_minutes  \
0  pjAJswDB14s 2013-11-08 20:03:07+00:00   PT1M3S    145004.0             1.0
1  qMkYlIA7mgw 2013-06-05 21:35:43+00:00  PT4M42S  26994739.0             4.0
2  T8WpJlaZNZI 2013-11-08 20:12:12+00:00   PT1M4S     34840.0             1.0
3  KfWNOnns1FM 2013-10-10 08:29:45+00:00  PT4M18S      1814.0             4.0
4  81pvnaj3EI4 2013-11-08 20:15:38+00:00    PT36S     34449.0             0.0

   length_seconds  length_seconds_total  year
0             3.0                  63.0  2013
1            42.0                 282.0  2013
2             4.0                  64.0  2013
3            18.0                 258.0  2013
4            36.0                  36.0  2013

In [37]:
data_df = combined_df[['id', 'year', 'views', 'length_seconds_total']]
data_df = data_df.rename(columns={
    'id': 'ID',
    'year': 'Year',
    'views': 'View Count',
    'length_seconds_total': 'Length (s)'
})

print(data_df.head())

            ID  Year  View Count  Length (s)
0  pjAJswDB14s  2013    145004.0        63.0
1  qMkYlIA7mgw  2013  26994739.0       282.0
2  T8WpJlaZNZI  2013     34840.0        64.0
3  KfWNOnns1FM  2013      1814.0       258.0
4  81pvnaj3EI4  2013     34449.0        36.0